@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Boldonse&family=Italiana&family=Rock+Salt&display=swap');
@import "tailwindcss";

/* no-scrollbar.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}
